
hr {
margin-top: 50px;
}


.titulo {
	color: #000000;
}

#topo { 
width: 100%;
height: 150px;
background:#FFFFFF;
float: left
}

body {
margin: 0 0;
padding: 0 0;
}

#imagemTopo {
	width: relative;
	height: 200px;
	background: #FFFFFF;
	margin-left: 300px;
	float: left;
}

#mensagemTopo {
	width: 25%;
	height: 150px;
	background: #FFFFFF;
	float: left;
	margin-left: 10%;
}

#barra {
	width: 100%;
	height: 20px;
	background: #A52A2A;
	float: left; 
}

#conteudo {
	width: 80%;
	height: 700px;
	background: #FFFAFA;
	float: left;
	margin-top:50px;
	margin-left:10%;
	border-radius: 15px;
}

#menu {
	width: 20%;
	height: 700px;
	background: #FFFAFA;
	float: left;
	border-radius: 15px;
}

#divisoria {
	width: 5%;
	height: 700px;
	background: #FFFAFA;
	float: left;
}

#noticias {
	width: 75%;
	height: 700px;
	background: #FFFAFA;
	float: left;
	border-radius: 15px;
}

.listaCliente {
	width:700px;
	height:550px;
}

.listaportfolios {
	width:700px;
	height:550px;
}

.fotosCliente {
	margin-right:10px;
	margin-top: 10px;
    cursor: pointer;
    width:20%;
    height:100px;
    background:#FFFAFA;
    display: inline-block;
}

.fotosportfolios {
	margin-right:10px;
	margin-top: 10px;
    cursor: pointer;
    width:30%;
    height:200px;
    background:#FFFAFA;
    display: inline-block;
}

#rodape {
	width: 100%;
	height: 20px;
	background: #A52A2A;
	float: left;
}

.descricaoEmpresa {
	color: #696969;
	
}

.paragrafo {
	font-family: "AvantGarde Bk BT";
}

.rodape_texto{
	text-align:center;
}

.mensagem {
	margin-top:70px;
}

.conteudo_menu {
	margin-top:50px;
}